// Color
$primary-black: #000000;
$primary-white: #ffffff;
$color-red: #de4848;
$color-orange: #f26323;
$color-green: #6dad6c;

// Font
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Quicksand&display=swap');

$font-family-primary: 'Nunito', sans-serif;
$font-family-secondary: 'Quicksand', sans-serif;

