section.product {
    margin: 50px 0;
    min-height: 550px;
    max-height: fit-content;
    .product-list__wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .card-product {
            border: 2px solid $primary-black;
            border-radius: 10px;
            margin: 20px 0;
            width: 24%;
            position: relative;
            .delete-checkbox {
                position: absolute;
                left: 20px;
                top: 20px;
                width: 20px;
                height: 20px;
            }
            .inner-card {
                padding: 40px;
                text-align: center;
            }
        }
    }
}

@media (max-width: 767.98px) { 
    section.product {
        margin: 80px 0;
        .product-list__wrapper {
            display: flex;
            flex-direction: column;
            .card-product {
                width: 100%;
                .delete-checkbox {
                    position: absolute;
                    left: 20px;
                    top: 20px;
                    width: 20px;
                    height: 20px;
                }
                .inner-card {
                    padding: 40px;
                    text-align: center;
                }
            }
        }
    }
 }